* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #1E90FF;
}

.search {
  width: 300px;
  padding-top: 150px;
  margin-bottom: 35px;
}
.search__box {
  position: relative;
}
.search__input {
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  margin-bottom: 5px;
}
.search__selected {
  font-size: 14px;
}
.search__error {
  display: none;
  color: red;
}
.search__city {
  font-weight: 600;
}
.search__cross {
  position: absolute;
  right: 7px;
  top: 9px;
  width: 28px;
  height: 28px;
  opacity: 0.3;
}
.search__cross:hover {
  opacity: 1;
}
.search__cross:before, .search__cross:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #333;
}
.search__cross:before {
  transform: rotate(45deg);
}
.search__cross:after {
  transform: rotate(-45deg);
}

.weather {
  min-height: 600px;
  width: 300px;
}
.weather .current {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 20%;
  background-color: #28282B;
  color: white;
}
.weather .current__degree-box {
  padding: 0 5px;
}
.weather .current__deegres {
  font-size: 44px;
  font-weight: 500;
}
.weather .current__feelslike {
  font-size: 12px;
}
.weather .current__description {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 0 5px;
}
.weather .current__icon {
  width: 65px;
  height: 65px;
  padding: 0 5px;
}
.weather .forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 80%;
  background-color: #36454F;
  color: white;
  font-size: 14px;
}
.weather .forecast__day {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.weather .forecast__weekday {
  width: 20%;
}
.weather .forecast__state {
  width: 40%;
  font-size: 12px;
}
.weather .forecast__degree-box {
  width: 20%;
  font-size: 12px;
}
.weather .forecast__icon {
  width: 50px;
  height: 50px;
}